@import "./header/header";
@import "./nav/nav";
@import "./section/section";
@import "./articl/articl";
@import "./articl1/articl1";
@import "./section3/ssection3.scss";
@import "./header8/header8";
@import "./aside/aside";
@import "./footer/footer";
@import "./footer2/footer2";

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
   